*{
    box-sizing: border-box;
}
#calc{
    background-color: rgb(140, 174, 240);
    padding: 20px;
    margin: auto;
    width: 415px;
    height: 500px;
    border-radius:10px;
}
#display{
    height: 100px;
    width: 360px;
    margin:auto;
    background-color: white;
    border-radius: 10px;
    font-size: 30px;
}
#buttons{
    display: grid;
    grid-template-columns: 75px 75px 75px 75px 75px;
    grid-template-rows: 70px 70px 70px 70px 70px;
    padding: 5px 0px;
    
}
button{
    border-radius: 5px;
    margin:3px 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: rgb(157, 219, 244);
    border: 1px rgb(157, 219, 244) solid;
    font-size: 20px;
}